#!/usr/bin/make -f

build: debian/objs debian/objs/Makefile
	cd debian/objs && $(MAKE) --no-print-dir -s

binary: binary-arch binary-indep

binary-arch: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -d debian/tmp/usr/share/doc/publib-dev
	install -d debian/tmp/usr/include
	install -d debian/tmp/usr/lib
	install -d debian/tmp/usr/share/man 
	install -d debian/tmp/usr/share/man/man3
	cd debian/objs && \
	    $(MAKE) --no-print-dir \
	    	mandir=../tmp/usr/share/man man3ext=3pub install
	set -e; find debian/tmp/usr/share/man -type f | \
		while read file; do \
		   sed 's/^\.TH [A-Z0-9]* [0-9]/&pub/' $$file > $$file.new; \
		    mv $$file.new $$file; done

	dh_installdocs
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_strip
	dh_shlibdeps
	dh_gencontrol -- -isp
	dh_md5sums
	dh_builddeb

binary-indep:

clean:
	dh_clean
	rm -rf debian/objs

debian/objs:
	mkdir debian/objs

debian/objs/Makefile:
	cd debian/objs && \
		cp ../Default.config . && \
		../../framework/configure
